In [40]:
import mysql.connector

database = mysql.connector.connect(
    host ="localhost",
    user ="root",
    passwd= ""
)

#prepering a cursor object
cursorObject = database.cursor()

#creating database
cursorObject.execute("CREATE DATABASE d3_ti_2024")

DatabaseError: 1007 (HY000): Can't create database 'd3_ti_2024'; database exists

In [ ]:
import mysql.connector

dataBase = mysql.connector.connect(
    host ="localhost",
    user ="root",
    passwd ="",
    database ="d3_ti_2024"
)

cursorObject = dataBase.cursor()

studentRecord = """CREATE TABLE Mahasiswa (
                    NIM VARCHAR(10) NOT NULL PRIMARY KEY,
                    NAMA VARCHAR(30) NOT NULL,
                    ALAMAT VARCHAR(255),
                    MATKUL_YANG_DIIKUTI VARCHAR(10)
                    )"""

cursorObject.execute(studentRecord)

database.close()

In [ ]:
import mysql.connector

database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "d3_ti_2024"
)

#preparing cursor
cursorObject = database.cursor()

sql = "INSERT INTO Mahasiswa (NIM, NAMA, ALAMAT, MATKUL_YANG_DIIKUTI) VALUES (%s, %s, %s, %s)"
val = [("V3922011",  "ARVIN", "MADIUN", "PBO"),
       ("V3922012",  "DEVINA", "CARUBAN", "BASIS DATA"),
       ("V3922013",  "HABIB", "WONOASRI", "STATISTIKA"),
       ("V3922014",  "PUPUT", "MEJAYAN", "MIKROKONTROLER"),
       ("V3922015",  "RIZKY", "GEGER", "PEMWEB")
      ]

cursorObject.executemany(sql, val)
database.commit()

#Disconnect
database.close()

In [ ]:
import mysql.connector

dataBase = mysql.connector.connect(
    host ="localhost",
    user ="root",
    passwd ="",
    database ="d3_ti_2024"
)

cursorObject = dataBase.cursor()

studentRecord = """CREATE TABLE Dosen (
                    NIP VARCHAR(20) NOT NULL PRIMARY KEY,
                    NAMA_DOSEN VARCHAR(50) NOT NULL,
                    MATKUL_YANG_DIAJAR VARCHAR(50)
                    )"""

cursorObject.execute(studentRecord)

dataBase.close()

In [38]:
import mysql.connector

dataBase = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "d3_ti_2024"
)

#preparing cursor
cursorObject = dataBase.cursor()

sql = "INSERT INTO Dosen (NIP, NAMA_DOSEN, MATKUL_YANG_DIAJAR) VALUES (%s, %s, %s)"
val = [("19089756",  "PAK DARMAWAN", "PBO"),
       ("19806748",  "BU MASBAHAH", "BASIS DATA"),
       ("16759839",  "BU TRISNA", "STATISTIKA"),
       ("28479021",  "PAK YUSUF", "MIKROKONTROLER"),
       ("19492470",  "BU ZULMI", "PSO")
      ]

cursorObject.executemany(sql, val)
dataBase.commit()

IntegrityError: 1062 (23000): Duplicate entry '19089756' for key 'PRIMARY'

In [37]:
import mysql.connector

database = mysql.connector.connect(
    host ="localhost",
    user ="root",
    passwd ="",
    database ="d3_ti_2024"
)

cursorObject = database.cursor()

studentRecord = """CREATE TABLE Mata_Kuliah (
                    KODE_MATKUL VARCHAR(10) NOT NULL PRIMARY KEY,
                    NAMA_MATKUL VARCHAR(50) NOT NULL,
                    NAMA_DOSEN VARCHAR(20),
                    WAKTU DATE,
                    RUANGAN VARCHAR(10)
                    )"""

cursorObject.execute(studentRecord)

database.close()

ProgrammingError: 1050 (42S01): Table 'mata_kuliah' already exists

In [39]:
import mysql.connector

dataBase = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "d3_ti_2024"
)

#preparing cursor
cursorObject = dataBase.cursor()

sql = "INSERT INTO Mata_kuliah (KODE_MATKUL, NAMA_MATKUL, NAMA_DOSEN, WAKTU, RUANGAN) VALUES (%s, %s, %s, %s, %s)"
val = [("12121212",  "PBO", "PAK DARMAWAN", "2023-1-1", "Lab 1"),
       ("23232323",  "BASIS DATA", "BU MASBAHAH", "2023-1-1", "Lab 2"),
       ("34343434",  "STATISTIKA", "BU TRISNA", "2023-1-1", "Lab 1"),
       ("45454545",  "MIKROKONTROLER", "PAK YUSUF", "2023-1-1", "R. Mikro"),
       ("56565656",  "PEMWEB", "BU ZULMI", "2023-1-2", "Lab 2")
      ]

cursorObject.executemany(sql, val)
dataBase.commit()

IntegrityError: 1062 (23000): Duplicate entry '12121212' for key 'PRIMARY'

In [ ]:
import mysql.connector

dataBase = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "d3_ti_2024"
)

#preparing cursor
cursorObject = dataBase.cursor()

query = "SELECT NAMA_MATKUL, NAMA_DOSEN FROM Mata_Kuliah"
cursorObject.execute (query)

myresult = cursorObject.fetchall()

for x in myresult:
    print(x)
    
dataBase.close()

('PBO', 'PAK DARMAWAN')
('BASIS DATA', 'BU MASBAHAH')
('STATISTIKA', 'BU TRISNA')
('MIKROKONTROLER', 'PAK YUSUF')
('PEMWEB', 'BU ZULMI')